{
  "jsxBracketSameLine": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": ["*.marp.md"],
      "options": {
        "printWidth": 250,
        "semi": true
      }
    }
  ]
}
